img {
    width: 20%;
}

.Tam {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    div {
        display: inline;
        flex-direction: column;
        flex-wrap: wrap;
        img {
            aspect-ratio: 1 / 1;
            //height: 8rem;
        }
    }
}